<div id="<%= dom_id group %>" class="group-main">

  <div class="name-card">
     <div class="name-card-upper">
        <%= image_tag(group.avatar, class: "group-profile-pic")%>
    </div>
    <div class="name-card-lower">
      <p>
        <h3><%= group.name %></h3>
      </p>
      <div><%= group.users.count %> Members</div>
      <div>
        Owners:
        <% group.owners.each do |owner|%>
          <%= owner.displayname %><br>
        <% end %>
      </div>
       <div class="name-card-buttons">
       <% if group.users.include?(current_user)%>
          <%= button_to leave_group_path(group), method: :delete, class: "leave-group-button" do %>
            <%= render "groups/leave-svg"%>
          <% end %>
       <% else %>
          <%= button_to join_group_path(group), method: :post, class: "join-group-button" do %>
            <%= render "groups/join-svg"%>
          <% end %>
       <% end %>
       <% if group.owners.include?(current_user)%>
            <%= button_to @group, method: :delete, class: "destroy-button" do%>
              <%= render "groups/destroy-svg"%>
            <% end %>
            <%= button_to edit_group_path(@group), method: :get, class: "edit-button" do %>
              <%= render "groups/edit-svg"%>
            <% end %>
        <% end %>
       </div>
    </div>

  </div>


  <div class="group-members">
    <h3>Members</h3>
    <ul>


        <% @group.group_memberships.each do |membership| %>
    <% if membership.approved %>
       <li class="member-list">
         <% if membership.user.avatar.attached? %>
          <%= image_tag(membership.user.avatar, style: "height: 2rem; width: 2rem;")%>
         <% end %>
        <div class="user-info">
          <%= membership.user.displayname%>
          <span class="member-username"><%= membership.user.username %></span>
        </div>
        </li>
    <% else %>
      <li><%= membership.user.displayname %> (Pending)</li>
      <% if current_user == @group.owner %>
        <%= button_to "Approve", approve_membership_path(membership), method: :put %>
        <%= button_to "Reject", reject_membership_path(membership), method: :put %>
      <% end %>
    <% end %>
  <% end %>
    </ul>
  </div>

  <div class="group-posts">
    <h3>Posts </h3>
    <% if group.users.include?(current_user) %>
      <%= render partial: "posts/form", locals: { group: @group, post: @post } %>
    <% else %>
      You must join the group before creating a post.
    <% end %>
    <% if group.posts.any? %>
      <% group.posts.reject { |post| post.created_at.nil? }.sort_by(&:created_at).reverse.each do |post| %>
      <div class="group-post">
         <% if group.users.include?(current_user) && post.user.present?%>
          <div class="user-posted-info">
            <div class="user-posted">
              <%= image_tag(post.user.avatar, class: "profile-pic", style: "height: 2rem; width: 2rem; border-radius: 100%;")%>
              <p><%= post.user.displayname %></p>
            </div>
            <div class="name-card-buttons">
       <% if post.user == current_user%>
            <%= button_to post, method: :delete, class: "destroy-button" do%>
              <%= render "groups/destroy-svg"%>
            <% end %>
            <%= button_to edit_post_path(post), method: :get, class: "edit-button" do%>
              <%= render "groups/edit-svg"%>
            <% end %>
        <% end %>
       </div>
            <div>
              <p><%= time_ago_in_words_with_units(post.created_at)  %></p>
            </div>
          </div>
        <% end %>
        <div> <%= post.body %> </div>
         <% post.images.each do |image| %>
           <%= image_tag image, style: "width: 100%;"%>
          <% end %>

      </div>
    <% end %>
    <% end %>
  </div>

  <style>

  </style>

   <div class="group-events">
     <div class="events-header">
       <h3>Events </h3>
         <%= link_to new_group_event_path(group), method: :create, data: { turbo_frame: "remote_modal" }, class: "custom-submit-button" do %>
           <%= render "posts/create-svg" %>
       <% end %>
     </div>

       <% if group.owners.include?(current_user)%>
        <% group.events.limit(3).each do |event| %>
         <%= link_to event.title, group_event_path(group, event), data: { turbo_frame: "remote_modal" } %>
          <div class="event-options">
            <p>Created by: <%= event.user.email %></p>
            <%= button_to group_event_path(group, event), method: :delete ,class: "event-destroy-button" do%>
              <%= render "groups/destroy-svg"%>
            <% end %>
          </div>
        <% end %>
       <% else %>
         <% group.events.where(status: "accepted").limit(3).each do |event| %>
          <%= link_to event.title, group_event_path(group, event), data: { turbo_frame: "remote_modal" } %>
          <div class="event-options">
            <p>Created by: <%= event.user.email %></p>
            <% if event.user == current_user %>
              <%= button_to group_event_path(group, event), method: :delete, class: "destroy-button" do%>
                <%= render "groups/destroy-svg"%>
              <% end %>
            <% end %>
          </div>
         <% end %>
      <% end %>
   </div>





</div>
