<h1>New Event</h1>
 <%= form_with(model: [@group, @event]) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :start_time %>
  <%= f.datetime_field :start_time %>

  <%= f.label :end_time %>
  <%= f.datetime_field :end_time %>

  <%= f.submit "Create Event" %>
<% end %>
