
<div class="user-posted-info">
  <div class="user-posted">
    <%= image_tag(@post.user.avatar, class: "profile-pic", style: "height: 2rem; width: 2rem; border-radius: 100%;")%>
    <p><%= @post.user.displayname %></p>
  </div>
  <div>
    <% seconds_from_creation = Date.today.to_time - @post.created_at.to_time%>
    <p>Days ago: <%= days_from_creation = (seconds_from_creation / 86400).to_i %></p>
  </div>
</div>
<div> <%= post.body %> </div>
<% @post.images.each do |image| %>
  <%= image_tag image, style: "width: 100%;"%>
<% end %>
<div class="name-card-buttons">
<% if @post.user == current_user%>
  <%= button_to @post, method: :delete, class: "destroy-button" do%>
    <%= render "groups/destroy-svg"%>
  <% end %>
  <%= button_to edit_post_path(@post), method: :get, class: "edit-button" do%>
    <%= render "groups/edit-svg"%>
  <% end %>
<% end %>

