<!-- app/views/posts/_public_form.html.erb -->

<%= form_with(model: @post, url: create_public_posts_path, class: "public-post-form") do |form| %>
  <% if @post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this public post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="post-whole">
    <div class="post-body">
      <%= form.text_area :body, placeholder: "Write your post here..." %>
    </div>
    <%= form.hidden_field :group_id %>
    <div class="post-buttons">
      <div>
        <%= form.label :images, class: "custom-file-input" do %>
          <%= render "posts/image-svg"%> <!-- Replace this with your custom icon -->
        <% end %>
        <%= form.file_field :images, multiple: true, style: "display: none" %>
      </div>
      <div class="post-submit">
       <%= button_tag type: :submit, class: "custom-submit-button" do %>
          <%= render "posts/create-svg" %> <!-- Replace this with your custom icon -->
        <% end %>
      </div>
    </div>
  </div>
<% end %>
